 .maincontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  
  .containercal {
    position: absolute;
    top: 70px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: auto;
  }
  
  .input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="number"],
  select {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
  
  button {
    padding: 12px 24px;
    background-color: #4e54c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #8f94fb;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table th,
  table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  table th {
    background-color: #f0f0f0;
  }
  
  @media screen and (max-width: 768px) {
    .calculator {
      padding: 30px;
    }
  }
  
  .resetbtncontainer{
    width: 100%;
    display: flex;
    justify-content: center;
  }