.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .containercal {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: auto;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  button {
    padding: 12px 24px;
    background-color: #4e54c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
  }
  
  button.active {
    background-color: #8f94fb;
  }
  
  button:hover {
    background-color: #8f94fb;
  }
  
  .input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
  
  small {
    margin-top: 5px;
    color: #666;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .result-container {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #f0f0f0;
  }

  .resetbtn{
    margin-top: 20px;
    width: 20%;
  }

  .resetbtncontainer{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  