/* src/Blog.css */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blog-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  
  .blog-article {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .blog-article:hover {
    background-color: #f1f1f1;
  }
  
  .blog-image {
    max-width: 200px;
    margin-right: 20px;
    border-radius: 8px;
  }
  
  .blog-content {
    flex: 1;
  }
  
  .blog-content h2 {
    margin: 0 0 10px;
  }
  
  .blog-content p {
    margin: 0 0 10px;
  }
  
  .blog-content a {
    color: #007bff;
    text-decoration: none;
  }
  
  .blog-content a:hover {
    text-decoration: underline;
  }
  